
{% load static %}

    <head>
        <meta charset="utf-8" />
         <link style="border-radius:100%;" rel="shortcut icon" href="{% static 'img/Mboa Academy.jpg '%}"  id="icon" >
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="MboaEx The New Wave of trading and invention " />
        <meta name="author" content="Mboa Technologies" />
         <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block head_title %}MboaEx{% endblock %}
        </title>
         <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
   <!-- PG Start -->

      <div></div>
      <div></div>
      <div></div>
   <!-- PG End -->

        <!-- BG Start -->
   <div class="bg-circles">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
      <div class="circle-5"></div>
      <div style="background-color:#f6f4f0;" class="circle-4"><img style="width:100%; opacity:20%; height:100%;border-radius:50%;"   src="{% static 'img/KenyanBrand.jpg'%}" alt="KenyanBrand"></div>

   </div>
   <!-- BG End -->
   <!-- Overlay Start -->
   <div class="overlay"></div>
   <!-- Overlay End -->
<body>
      <!-- Main Start -->
           <div class="main hidden">
         <!-- Header Start -->
         <header class="header">
            <div class="container">
               <div style=" margin-top:5vh;" class="row flex-end">
                  <button  type="button" class="nav-toggler">
                  <span></span>
                  </button>
                  <div class="nav">
                     <div class="nav-inner">
                        <ul>
                           <li style="margin-top:5px;"><a href="#home" class="nav-item  btn link-item">Home</a></li>
                           <li style="margin-top:10px;"><a href="#about" class="nav-item  btn link-item">Profile</a></li>
                           <li style="margin-top:5px;"><a href="#portfolio" class="nav-item btn  link-item">Trade</a></li>
                           <li style="margin-top:10px;"><a href="#contact" class="nav-item  btn link-item">Briefing</a></li>
                           <li style="margin-top:10px;"><a href="#contact" class="nav-item  btn link-item">Contact</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- Header End -->

      </div>

<script src="{% static 'js/script.js' %}"></script>

