{% extends 'core/base.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block content %}
{%load static%}

<section class="home-section align-items-center" id ="logout">
    <div class="container">
               <div class="row align-items-center">
                  <div class="home-text">
                      <h1>  Hey, {{ user.first_name }}</h1>
    <h2> {{ user.email }}</h2>
                      <div style="width:20vw; height:25%;margin-top:20px;" class="home-img">
               </div>




                      <div style="margin-top:10v;" class="btn">
                          <p style="margin-bottom:60px;margin-top:20px;">Are you sure you want to exit?</p>
             <a  style="background:red;" class="bty" href="/accounts/out">Exit</a>
             <a  style="background:green;" class="bty" href="/wallet">Cancel</a> </div>
                      </div>




</div>
                  </div>
</section>
{% endblock %}