{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
          <link style="border-radius:100%;" rel="shortcut icon" href="{% static 'img/Mboa Academy.jpg '%}"  id="icon" >
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="New Wave of Kenyan trade and investing in digital assets" />
        <meta name="author" content="Mboa Technologies" />
        <title>
            {% block head_title %}MboaEx{% endblock %}
        </title>
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
       <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

        {% block head_extra %}{% endblock %}
    </head>
     <!-- PG Start -->
   <!-- PG End -->
     <div class="page-loader">
      <div></div>
      <div></div>
      <div></div>
   </div>
   <!-- BG Start -->
   <div class="bg-circles">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
      <div class="circle-5"></div>
      <div class="circle-8"></div>
      <div style="background-color:transparent;" class="circle-4"><img style="width:100% ; opacity:13%;  height:100%;border-radius:50%;"   src="{% static 'img/KenyanBrand.jpg'%}" alt="KenyanBrand"></div>

   </div>
   <!-- BG End -->
   <!-- Overlay Start -->
   <div class="overlay"></div>
   <!-- Overlay End -->
    <body class="bg-gray-100">
        {% block body %}

        <div class="main hidden">
         <!-- Header Start -->
         <header class="header">
            <div class="container">
               <div class="row flex-end">
                  <button type="button" class="nav-toggler">
                  <span></span> </button>
                  <div class="nav">
                     <div class="nav-inner">
                         <div style=" font-width:500px bold;color:#008800;margin-left:20px;margin-bottom:10px;" class="about-tabs">
                        <a  href="/accounts/settings" type="button" class="tab-item active ">My Profile</a>
                        <a  href="/ad" type="button" class="tab-item ">About Us</a>
                        <a  href="/biz" type="button" class="tab-item">Matwana</a>
                        <a  href="/transactions/withdraw" type="button" class="tab-item">Discover</a><br>
                         <a  href="/page"  type="button" class="tab-item  "> WhatsApp Groups?</a>
                   {% include 'core/navbar.html' %}
                         </div>

                     </div>

                  </div>
                                    </div>
            </div>
         </header> </div>

         <!-- Header End -->
         <!--Home Section Start -->

            <div class="lg:container lg:mx-auto">
                {% include 'core/messages.html' %}
                {% block content %}
                <!-- Add content here -->
                {% endblock %}
            </div>
            {% include 'core/footer.html' %}

        {% endblock %}
        {% block footer_extra %}{% endblock %}
    </body>
<div class="portfolio-popup">
         <div class="pp-inner">
            <div class="pp-content">
               <div class="pp-header">
                  <button type="button" class="btn pp-close">
                      <i class="fas fa-times"> </i> </button>

                  </div>
                        {% include 'mpesa/LipaNaMpesa.html' %}
               </div>
               <div class="pp-body">
               </div>

            </div>
         </div>

      <!-- Portfolio Item Details Popup Start -->
<script src="{% static 'js/script.js' %}"></script>
</html>
