{% load static%}
<footer  style="margin-top:30%; " class="footer bg-gray-200 relative pt-1 border-b-2 mt-10">
    <div class="container mx-auto px-6">
<!-- <div class="page-loader">
      <div></div>
      <div></div>
      <div></div>
   <div class="bg-circles">

   </div> -->
        <center>
        <div class="mt-5 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <img style="width:50px; height:50px ; border-radius:50%;margin-bottom:5px; "   src="{%static 'img/Mboa Academy.jpg'%}" alt="Mboa Technology">
                <p class="text-md text-black-900 font-bold mb-2">
                      Mboa Technologies<a href="#" target="_blank">.</a>
                </p>
                              <a  style=" width:100%; padding:2%; position:center;" class="bty" href="/Deposit" ><h4>Support</h4></a>
            </div>
        </div>
        </center>
    </div>
</footer>
