{% load  static %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
   <head>
      <title> MboaEx </title>
       <link style="border-radius:100%;" rel="shortcut icon" href="{% static 'img/Mboa Academy.jpg '%}"  id="icon" >
      <meta charset="utf-8">

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="{% static 'style.css' %}" rel="stylesheet">


   <div class="bg-circles">
      <div class="circle-1"></div>
      <div class="circle-2"></div>
      <div class="circle-3"></div>
      <div class="circle-5"></div>
      <div style="margin-left:-40px;background-color:transparent;"class="circle-4"><img style="width:80%; height:100%;border-radius:50%;"   src="{% static 'img/birds1.png'%}" alt="KenyanBrand"></div>
      <div style="background-color:transparent;" class="circle-6" ></div>
   </div>
   <!-- BG End -->
   <!-- Overlay Start -->
   <div class="overlay"></div>
   <!-- Overlay End -->


   <body>

      <!-- Main Start -->
      <div class=" main " style="position:center;">
         <!-- Header Start -->
         <!-- Header End -->





            {% if request.user.is_authenticated %}

            <div  href="/wallet" style="border-radius:10px;" class="portfolio-item-thumbnail">
                <div id="home"> <center>
             <div class=" flex  bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mt-2"  style="margin-bottom:2px;"  role="alert">
                 <p style=" border-color:transparent; background-color:f6f4f0;box-shadow: 1px 0px 60px 50px #f6f4f0; color:#001100;">
                     Hey, {{user.first_name}} Notification For payment Conformation Will be sent to Your <strong style="font-size:bold;color:#006600;"> <br>M-pesa Account:   0{{user.address.postal_code}}</strong> <br>
          <b style="color:#001100;">Change it if Necessary...</b>
                 </p>
             </div>
                 </center>
             </div>
                 <a href="/setting">
                     <center>
                        <img style=" opacity:40%; margin-top:-100px; margin-bottom:5px; position:center; box-shadow: 34px 8px 80px green; width:150px; height:150px;border-radius: 100%;" src="{{ user.address.profileimg.url }} " >
                     </center>
                         <h3  style=" width:100%; text-align:center;" class="btn ">    {{user.email}}  </h3>
</a>
</div>
{% endif %}
<center style=" margin-left:2px;margin-top:5px;">
<form  method="POST"  action="stk" style="border: 3px solid #001100;
                                                                    width:100%;
                                                                    opacity:100%;
                                                                    color:white;margin: 2px; padding:5%; border-radius:40px;">
<div style="display:flex;flex-direction:row;">
<p style=" font-size:100%; font-weight:500px; color: #001100;margin-top:10px;margin-right:6px; width:100%;"> <img style="margin-bottom:5px; position:center; box-shadow: 34px 8px 80px green; width:40px; height:40px;border-radius: 100%;" src="{% static 'img/Mboa Academy.jpg' %} " > Mboapay</p>
<img style=" margin-left:6px; width:100px;  height:50px;"   src="{%static '/img/mpesa.png'%}">
</div>
{% csrf_token %}

<div style="margin-top:30px;">
    <hr style="height:2px;width:100%;">
<input type="text" id="phone_number"  value="0{{user.address.postal_code}}" name="phone_number" placeholder="phone number" class="btn form-control" required autofocus    style="font-family:Comic Sans Mn; color:#001100;font-size:16px;text-align:center; margin-top:5px;border-radius:10px;height:7vh; width:100%; "><br>
<input type="number" id="amount"  value="500" required name="amount" class=" btn form-control" placeholder="Amount " style="font-family:Comic Sans Mn;font-size:16px;text-align:center; height:7vh;margin-top:20px; margin-bottom:70px;border-radius:10px; width:100%;"></div>
<center style="margin-top:50p x;
                                                                          margin-bottom:20px;"><button style="
                                                                          font-size: 24px;
                                                                          margin-top:-30px;
                                                                          margin-left:10px;
                                                                          margin-bottom:40px;
                                                                          width:100%;
                                                                          height:60px ;
                                                                          position:center;
                                                                          border-radius:40px;
                                                                          background: #C9FEC0;
                                                                          border:solid 1px #D2D2D2;
                                                                          font-family:Comic Sans Mn;
                                                                           text-decoration: none;
                                                                          color: #001100;
                                                                          padding:2%;
                                                                          cursor:pointer;
                                                                          box-shadow: 4px 1px 200px  #93c017;
                                                                           "  href=" /"  >Pay </button></center>
</form>
    <a  href="/transactions/mboapay" class="bty" style="width:100%; border-radius:30px; color:#001100; background: transparent; cursor:pointer;border:2px solid #C9FEC0;"> My MboaEx Account</a>
</center>   </div>
   </body>
</html>