{% extends 'core/base.html' %}
{% block head_title %}{{ title }}{% endblock %}

{% block content %}
{%load static%}

<section class="home-section align-items-center" id="home">
            <div class="container">
               <div class="row align-items-center">
                  <div class="home-text">
                     <img  class="logo" src="{% static 'img/Mboa Academy.jpg '%}" alt="profile-img">
                     <h1  >  MboaEx </h1>
                     <h2  >Offline transactions   </h2>
                     <h3  >1.Till Number </h3>
                      <p style="font-size:70%; color:#001100;"> > Lipa Na Mpesa > Buy Goods And Services > Till Number >
        </div>
               </div>

                <center>
                    <div class="bty" style=" color:green; text-align:center; border: 1px solid #001100; width:85%; height:45vh;box-shadow:2px 4px 50px #001100; ">
                            <img style=" opacity:100%; box-shadow: 10px 0px 34px 50px #fff;margin-top:1px;width:300px;height:150px;border-radius:7px;" src="{% static 'img/LipaNaMpesa.png' %}" alt="profile-img">
<center>
                                 <div style="padding:1%; margin-top:2px;display:flex;flex-direction:row; border: 1px solid #008800;">
                        <div style="margin-left:-10px; height:8vh;width:20%; border: 3px solid #001100;"><p style="font-size:300%; font-weight:500px;">8</p> </div>
                        <div style=" height:8vh;width:20%; border: 3px solid #001100;"><p style="font-size:300%; font-weight:500px;">5</p> </div>
                        <div style=" height:8vh;width:20%; border: 3px solid #001100;"> <p style="font-size:300%; font-weight:500px;">6</p></div>
                        <div style=" height:8vh;width:20%; border: 3px solid #001100;"> <p style="font-size:300%; font-weight:500px;">6</p></div>
                        <div style=" height:8vh;width:20%; border: 3px solid #001100;"><p style="font-size:300%; font-weight:500px;">2</p> </div>
                        <div style=" height:8vh;width:20%; border: 3px solid #001100;"><p style="font-size:300%; font-weight:500px;">1</p> </div>
                        <div style=" height:8vh;width:20%; border: 3px solid #001100;"> <p style="font-size:300%; font-weight:500px;">0</p></div>
                                 </div>
</center>

                      <p style="margin-top:20px; font-size:100%;"> Displayed Name: Mboa Technologies  </p>
                    </div>

                    <a  class="bty tab-item" style=" margin-top:40px;color:green;" href="{% url 'Query_stk_push' %}" type="submit" > Support </a>

 </center>
            </div>
    </section>

     {% endblock %}

