{% extends 'core/base.html' %}
{% block head_title %}MboaEx Payment Support{% endblock %}
{% block content %}
<section class="home-section align-items-center" id="home">
    <div class="container">
               <div class="row align-items-center" >
                    <div style="width:95%; height:30%;margin-top:5px;" class="home-img">
                     <p style=" color:#f6f4f0;background-color:#001100; margin-top:20px; border-radius:5px;" class="btn">Have Made M-Pesa Transaction ; But No Confirmation Or Reflection On My MboaEx Wallet. <br>
                       </p>

               </div>
                  <div class="home-text">
                      <form  method="POST"  action="Query_stk_push" style="border: 3px solid #001100;
                                                                    width:100%;
                                                                    opacity:100%;
                                                                    color:white;margin: 2px; padding:10%; border-radius:40px;">

 <p style="margin-top:20px; border-radius:5px;" class="bty">
                       Enter the M-Pesa Message Transaction Code </p>
                          {% csrf_token %}
                    <input style="width:100%;" class="bty" type="text" placeholder="ws_CO_260520211133524545" name="checkoutRequestID">
                    <input style="width:100%;" class="bty" type="number" placeholder="eg. 2016-02-16-16-56-27" name="timestamp">
                       <button style=" margin-top:20px; " class="btn">
                         <a style=" color:green;" type="submit" > Submit </a>


                   </button>
</form>
                  </div>
               </div>
    </div>

</section>
   {% endblock %}