{% load static %}

<html class="no-js loader" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>KwaMboka — Keep it Neat and Clean.</title>
    <meta
      name="description"
      content="KwaMboka — Keep it Neat and Clean."/>
    <meta property="og:title" content="KwaMboka — Keep it Neat and Clean." />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="/cover.png" />
    <meta
      property="og:description"
      content="KwaMboka — Keep it Neat and Clean."/>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=3.0"/>
    <meta name="cmsmagazine"
          content="17ded5a9362aae72cf758d760240d50b" />
    <meta name="msapplication-TileColor"
          content="#ffffff" />
    <meta name="theme-color"
          content="#ffffff" />

    <link rel="apple-touch-icon"
          sizes="180x180"
          href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png"
          sizes="32x32"
          href="/favicon-32x32.png" />
    <link rel="icon" type="image/png"
          sizes="16x16"
          href="/favicon-16x16.png" />
    <link rel="manifest"
          href="/site.webmanifest" />
    <link rel="mask-icon"
          href="/safari-pinned-tab.svg" color="#ffffff" />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/assets/fonts/montserrat/montserrat.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/assets/fonts/montserrat/montserrat-500.woff2"
      crossorigin
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href="/assets/fonts/montserrat/montserrat-600.woff2"
      crossorigin
    />

  </head>
    <link rel="stylesheet" href="{% static '/assets/css/Academy.css' %}">
      <link rel="stylesheet" href="{% static '/assets/css/index.css' %}">
    <script type="text/javascript" src="{% static '/assets/js/sw.js' %}"> </script>
    <script type="text/javascript" src="{% static '/assets/js/bundle.js' %}"> </script>

  <body>
    <div class="pt-loader pt-loader_overlay -visible"></div>
    <div class="pt-view" id="view-main">
      <nav class="pt-navbar">
        <div class="pt-navbar-bg"></div>
        <div class="pt-navbar-fill"></div>
        <div class="pt-navbar-logo">
           <h1 id="jina-logo">Kwa.mboka</h1>
        </div>
        <div class="pt-navbar-login">
          <a
            class="pt-btn pt-btn_link"
            href="/Mboka-Account.html"
            target="_blank"
            rel="noopener">
            <span>Login | Signup</span></a>
           <div class="Contact-mboka"> <a href="Contact-mboka.html">
          <img id="whatsapp-btn" src="{% static ' assets/img/132d78edc1a425708d0d9c5abda26d01.jpg' %}">
        </a>
        </div>
        </div>

        <div class="pt-navbar-toggle">
          <button class="pt-btn pt-btn_menu"
                  aria-label="Menu">
            <span>

            </span>
            <span>

            </span>
          </button>
        </div>
        <div class="pt-navbar-strip">
          <div class="pt-navbar-container">
            <div class="pt-navbar-grid">
              <div class="pt-navbar-col -left">
                <div class="pt-navbar-logo -static">
                  <a href="/Mboka-Account.html" aria-label="Home">
                  </a>
                </div>
              </div>
              <div class="pt-navbar-col -center">
                <div class="pt-navbar-navs">
                  <a
                    class="pt-navbar-nav"
                    href="/Services Offered/"
                    target="_blank"
                    rel="noopener"
                    ><span>Services Offered</span></a
                  ><a class="pt-navbar-nav" href="/#pricing"
                    ><span>Pricing</span></a
                  ><a
                    class="pt-navbar-nav"
                    href="/testimonials/"
                    target="_blank"
                    rel="noopener"
                    ><span>Testimonials</span></a
                  ><a class="pt-navbar-nav" href="/faq/"><span>FAQs</span></a
                  ><a
                    class="pt-navbar-nav"
                    href="MbokaAcademy.html"
                    target="_blank"
                    rel="noopener"
                    ><span>Mboka Academy/Tutorials</span></a
                  >
                </div>
              </div>
              <div class="pt-navbar-col -right">
                <div class="pt-navbar-actions">
                  <div class="pt-navbar-action -login">
                    <a
                      class="pt-btn pt-btn_link"
                      href="/Mboka-Account.html"
                      target="_blank"
                      rel="noopener"
                      ><span>Login | Signup</span>
                    </a>
                     <div class="Contact-mboka">
                    <a href="Contact-mboka.html"> </a>
          <img id="whatsapp-btn" src="{% static 'assets/img/fake.png' %}">
          
        </div>
                  </div>

                  <div class="pt-navbar-action -signup">
                    <a
                      class="pt-btn pt-btn_cta pt-btn_bdemo -md -primary"
                      href="/demo/"
                      ><span class="pt-btn_cta-fill"
                        ><span class="pt-btn_cta-ripple -v1"></span
                        ><span class="pt-btn_cta-ripple -v2"></span></span
                      ><span class="pt-btn_cta-title"
                        ><em
                          ><span data-text="Give Us A Call">Call Us</span></em
                        ></span
                      ></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="pt-layout" role="main">
        <div class="pt-scroller -visible">
          <button class="pt-btn pt-btn_scroll" aria-label="Scroll down">
            <svg class="pt-svgsprite -arrow-down-o">
              <use
                xlink:href="/assets/img/sprites/svgsprites.svg#arrow-down-o"
              ></use>
            </svg>
          </button>
        </div>
        <header class="pt-hero">
          <div class="pt-hero-wrap">
            <div class="pt-hero-fill"></div>
            <div class="pt-hero-masks">
              <div class="pt-hero-mask -v2"></div>
            </div>
            <div class="pt-hero-line">
              <svg
                width="662"
                height="1372"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M149 1c-30 19-61 51-88 95l-17 29C31 149-4 209 2 273c5 66 41 88 59 96 49 22 101 1 149-28 15-9 27-17 42-31 4-5 17-16 12-23-1-4-9-1-10-1-15 7-30 20-44 33-13 12-23 22-34 38-8 11-20 29-23 56-5 42 21 65 28 74 2 2 33 27 25 46-5 13-24 35-28 39-19 23-201 242-134 230 98-17 196-5 254 83 108 164 155 488 199 486 43-2 76-372 97-391 22-19 38 82 67 84"
                  stroke="currentColor"
                  stroke-linecap="round"
                /></svg
              ><svg
                width="1476"
                height="2091"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M331 1c-67 29-135 78-197 145a806 806 0 0 0-37 44C67 227-10 318 2 416c12 101 94 134 132 146 110 34 226 1 334-43 33-13 61-26 93-47 10-7 38-24 29-36-4-5-21-1-23 0-33 10-67 30-100 50-27 18-50 33-76 58-17 17-44 44-51 85-12 65 47 100 64 113 5 4 74 41 55 70-12 19-54 53-62 59-44 35-450 370-300 352 218-26 438-9 568 126 240 250 347 744 444 741s171-567 218-596 84 124 148 128"
                  stroke="currentColor"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="pt-hero-content">
              <div class="pt-hero-head">
                <div class="pt-hero-container">

                  <img  id="mboka-image"  src="{% static '/assets/img/img/Screenshot_2023-05-23-15-03-16-798.jpg' %}">
                   <div class="pt-hero-header -xl">
                 <h1 id="jina">Kwa.mboka</h1>
                  <h1 id="jina0" >
                      -- Keep It Neat And Clean --
                    </h1>
                  </div>
                  <div class="pt-hero-action">
                    <a
                      class="pt-btn pt-btn_cta pt-btn_bdemo -xl -primary"
                      href="/demo/"
                      ><span class="pt-btn_cta-fill"
                        ><span class="pt-btn_cta-ripple -v1"></span
                        ><span class="pt-btn_cta-ripple -v2"></span></span
                      ><span class="pt-btn_cta-title"
                        ><em
                          ><span data-text="Book a demo">Call Us</span></em
                        ><svg class="pt-svgsprite -arrow-right-o">
                          <use
                            xlink:href="assets/img/sprites/svgsprites.svg#arrow-right-o"
                          ></use></svg></span
                    ></a>
                  </div>
                </div>
              </div>
              <div class="pt-hero-body">
                <div class="pt-hero-container">
                  <div class="pt-hero-video">
                    <video
                      src="assets/video/home/hero/1.mp4?6"
                      autoplay
                      playsinline
                      muted
                      loop
                    ></video>
                    <div class="pt-hero-video-play">
                      <button
                        class="pt-btn pt-btn_play -lg"
                        aria-label="Play video"
                      >
                        <span class="pt-btn_play-fill"></span
                        ><svg class="pt-svgsprite -play">
                          <use
                            xlink:href="/assets/img/sprites/svgsprites.svg#play"
                          ></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pt-hero-footer">
                <div class="pt-hero-container">
                  <div class="pt-hero-headlines">
                    <div class="pt-hero-headline">
                      <h2>
                        Need my laundry done.<br />
                        Cleaning,Ironing?

                      </h2>
                    </div>
                    <div class="pt-hero-headline">
                      <h2>
                        House is a mess, <br />
                        Utensils unwashed?
                      </h2>
                    </div>
                    <div class="pt-hero-headline">
                      <h2>
                        Home gardening<br/>
                        Weeding <br/>
                        Flowers,Slashing?
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <section class="pt-overview">
          <div class="pt-overview-fill"></div>
          <div class="pt-overview-content">
            <div class="pt-overview-top">
              <div class="pt-overview-scene">
                <div class="pt-fallbox -lg">
                  <div class="pt-fallbox-item -v1"><span>Office cleaning</span></div>
                  <div class="pt-fallbox-item -v2"><span>Fantastic Jobs</span></div>
                  <div class="pt-fallbox-item -v3 -vsm">
                    <span>mind-blowingly Fast</span>
                  </div>
                  <div class="pt-fallbox-item -v4 -vsm">
                    <span>Or superpower</span>
                  </div>
                  <div class="pt-fallbox-item -v5"><span>Whoa Friendly Faces</span></div>
                  <div class="pt-fallbox-item -v6"><span>Awesome Workers!</span></div>
                  <div class="pt-fallbox-item -v7"><span>Amazing Clean!</span></div>
                  <div class="pt-fallbox-item -v8"><span>Unrea Neatnessl</span></div>
                  <div class="pt-fallbox-item -v9"><span>Insane, On time</span></div>
                  <div class="pt-fallbox-item -v10"><span>Super Wash!</span></div>
                  <div class="pt-fallbox-item -v11"><span>Perfect as You Wished!</span></div>
                  <div class="pt-fallbox-item -v12">
                    <span>Incredible Works</span>
                  </div>
                </div>
              </div>
              <div class="pt-overview-container">
                <div class="pt-overview-header -lg">

                    <h1 id="jina">Kwa.mboka</h1>
                  <h2 >
                    ......   ..  ...... <br /> Trusted by <br />
                    <b>6000+</b> House Holds and Organisations.With 200+  Amazing Workers
                    Committed to bring you Neatness! <br>Try Us!
                    <br class="-xs" /><span
                      class="pt-overview-header-fig"
                      ><img
                        src="/assets/img/home/overview/1.jpg"
                        srcset="/assets/img/home/overview/1@2x.jpg 2x"
                        loading="lazy"
                        alt="User photo" /><img
                        src="/assets/img/home/overview/2.jpg"
                        srcset="/assets/img/home/overview/2@2x.jpg 2x"
                        loading="lazy"
                        alt="User photo" /><img
                        src="/assets/img/home/overview/3.jpg"
                        srcset="/assets/img/home/overview/3@2x.jpg 2x"
                        loading="lazy"
                        alt="User photo"
                    /></span>
                  </h2>
                </div>
              </div>
            </div>
            <div class="pt-overview-body">
              <div class="pt-overview-carousel">
                <div class="pt-overview-reviews">
                  <div class="pt-overview-review">
                    <div class="pt-overview-review-profile">
                      <img
                        src="BTCPay Server Store/assets/Male-Workers/600_400.jpg?2"
                        loading="lazy"
                        alt="Kennedy Araka"
                      />
                    </div>
                    <div class="pt-overview-review-text">
                      <p>
                        I Have been a heavy users of Kwa.mboka
                        Platform by just giving them a call and boom! At my door.
                        to clean and manage my entire house,Wash My Car.
                        It was initially really hard to manage the
                        cleaning,cooking and washing my cloths
                        since am always busy with taxi clients and running my things.
                        Kwa.mboka has increased my  performance
                        substantially, and I am incorporating it into more and
                        more of my  routines every week.For cleaning Services.
                        Just A Call Away
                      </p>
                    </div>
                    <div class="pt-overview-review-caption">
                      <b>Businessman</b>, Taxi Driver,
                      ArakaCars
                    </div>
                    <!--<div class="pt-overview-review-logo">
                      <img
                        src="/assets/img/partner/opensense.png"
                        srcset="/assets/img/partner/opensense@2x.png 2x"
                        loading="lazy"
                        alt="Opensense"
                      />
                    </div>
                    -->
                  </div>
                  <div class="pt-overview-review">
                    <div class="pt-overview-review-profile">
                      <img
                        src="BTCPay Server Store/assets/Female-Workes/600-x-400.jpg?2"
                        loading="lazy"
                        alt="Mama Njeri"
                      />
                    </div>
                    <div class="pt-overview-review-text">
                      <p>
                        My team and I are strong believers that Cleanliness is Next To Godliness
                        and a powerful way to build trusted relationships
                        with customers making more of them to visit our offices, and Kwa.mboka is helping us do exactly
                        that.They Planted Flowers and cleaned the windows
                        .Its Magic I tell you. Can't wait to text again for home cleaning now>>>
                      </p>
                    </div>
                    <div class="pt-overview-review-caption">
                      <b>Mama Njeri</b>,  Ecommerce - Midmarket & Partner
                      Real Estates.
                   <!--
                    </div>
                    <div class="pt-overview-review-logo">
                      <img
                        src="/assets/img/partner/sap.png"
                        srcset="/assets/img/partner/sap@2x.png 2x"
                        loading="lazy"
                        alt="SAP"
                      />
                    </div> -->


                    </div>
                  </div>
                </div>
              </div>
              <div class="pt-overview-navs">
                <div class="pt-overview-nav -prev">
                  <button class="pt-btn pt-btn_nav" aria-label="Prev">
                    <span class="pt-btn_nav-fill"></span
                    ><svg class="pt-svgsprite -arrow-left-o">
                      <use
                        xlink:href="/assets/img/sprites/svgsprites.svg#arrow-left-o"
                      ></use>
                    </svg>
                  </button>
                </div>
                <div class="pt-overview-nav -next">
                  <button class="pt-btn pt-btn_nav" aria-label="Next">
                    <span class="pt-btn_nav-fill"></span
                    ><svg class="pt-svgsprite -arrow-right-o">
                      <use
                        xlink:href="/assets/img/sprites/svgsprites.svg#arrow-right-o"
                      ></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <div class="pt-overview-footer">
              <div class="pt-overview-bundle">
                <div class="pt-overview-logos">
                  <div class="pt-overview-logo">
                    <img
                      src="/assets/client-2.png"
                      srcset="/assets/img/partner/pandadoc@2x.png 2x"
                      loading="lazy"
                      alt="PandaDoc"
                    />
                  </div>
                  <div class="pt-overview-logo">
                    <img
                      src="/assets/client-4.png"
                      srcset="/assets/img/partner/orum@2x.png 2x"
                      loading="lazy"
                      alt="Orum"
                    />
                  </div>
                  <div class="pt-overview-logo">
                    <img
                      src="assets/img/logo/download (1).png"
                      srcset="/assets/img/partner/opensense@2x.png 2x"
                      loading="lazy"
                      alt="Opensense"
                    />
                  </div>
                  <div class="pt-overview-logo">
                    <img
                      src="/assets/whats-new-ad.png"
                      srcset="/assets/img/partner/appsflyer@2x.png 2x"
                      loading="lazy"
                      alt="AppsFlyer"
                    />
                  </div>
                  <div class="pt-overview-logo">
                    <img
                      src="assets/client-7.png"
                      srcset="/assets/img/partner/sap@2x.png 2x"
                      loading="lazy"
                      alt=""
                    />
                  </div>
                  <div class="pt-overview-logo">
                    <img
                      src="/assets/img/partner/captivateiq.png"
                      srcset="/assets/img/partner/captivateiq@2x.png 2x"
                      loading="lazy"
                      alt="CaptivateIQ"
                    />
                  </div>
                  <div class="pt-overview-logo">
                    <img
                      src="/assets/img/partner/collective.png"
                      srcset="/assets/img/partner/collective@2x.png 2x"
                      loading="lazy"
                      alt="Collective"
                    />
                  </div>
                  <div class="pt-overview-logo">
                    <img
                      src="/assets/img/partner/maintainx.png"
                      srcset="/assets/img/partner/maintainx@2x.png 2x"
                      loading="lazy"
                      alt="MaintainX"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-advantage">
          <div class="pt-advantage-fill"></div>
          <div class="pt-advantage-content">
            <div class="pt-advantage-container -fixed -lg">
              <div class="pt-advantage-header -lg">
                <h2>
                  Three <mark class="-quaternary">easy</mark><br />
                  steps and  you are in..
                  <br/>
                  TRY US!
                </h2>
              </div>
            </div>
            <div class="pt-advantage-container -fixed -lg -rr">
              <div class="pt-advantage-sections">
                <div class="pt-advantage-section">
                  <div class="pt-advantage-grid">
                    <div class="pt-advantage-grid-col -left">
                      <div class="pt-advantage-num">1.</div>
                      <div class="pt-advantage-title">
                        <h3>
                          <span style="white-space: nowrap"
                            > Login | create Your
                          </span
                          ><br />
                          Mboka <br/>
                          Account or Call Us
                        </h3>
                      </div>
                    </div>
                    <div class="pt-advantage-grid-col -right">
                      <div
                        class="pt-advantage-figure -v1"
                        data-cursor="-opaque"
                      >
                        <div class="pt-advantage-figure-box">
                          <div class="pt-advantage-figure-scene">
                            <div class="pt-glancebox"><canvas></canvas></div>
                          </div>
                          <div class="pt-advantage-figure-screen">
                            <img id="mboto"
                              src="assets/img/FB_IMG_1684769578009.jpg"
                              loading="lazy"
                              alt="Potion step 1 screen"
                            />
                            <div class="pt-advantage-figure-video -sm">
                              <video
                                src="/assets/video/home/advantage/1.mp4?5"
                                autoplay
                                muted
                                playsinline
                                loop
                              ></video>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-advantage-section" data-cursor="-quaternary">
                  <div class="pt-advantage-grid">
                    <div class="pt-advantage-grid-col -left">
                      <div class="pt-advantage-num">2.</div>
                      <div class="pt-advantage-title">
                        <h3>
                          <mark class="-quaternary">Select on</mark><br />
                          What aligns with your needs
                          SI <br/>U
                          Tu Text Na WhatsApp.
                        </h3>
                      </div>
                    </div>
                    <div class="pt-advantage-grid-col -right">
                      <div
                        class="pt-advantage-figure -v2"
                        data-cursor="-opaque"
                      >
                        <div class="pt-advantage-figure-box">
                          <div class="pt-advantage-figure-scene">
                            <div class="pt-fallbox">
                              <div class="pt-fallbox-item -xl -v7">
                                <span>Hey</span>
                              </div>
                              <div class="pt-fallbox-item -xl -v6">
                                <span>Jeff</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v5">
                                <span>potion</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v8">
                                <span>Use</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v9">
                                <span>using</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v10">
                                <span><b>All</b></span>
                              </div>
                              <div class="pt-fallbox-item -lg -v2">
                                <span>AI</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v11">
                                <span>wipe</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v12">
                                <span>build</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v2">
                                <span>auto</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v4">
                                <span>wash</span>
                              </div>
                              <div class="pt-fallbox-item -lg -v1">
                                <span>Sweep</span>
                              </div>
                            </div>
                          </div>
                          <div class="pt-advantage-figure-screen">
                            <img id="mboto"
                              src="assets/img/kalala.jpg"
                              loading="lazy"
                              alt="Potion step 2 screen"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-advantage-section" data-cursor="-quinary">
                  <div class="pt-advantage-grid">
                    <div class="pt-advantage-grid-col -left">
                      <div class="pt-advantage-num">3.</div>
                      <div class="pt-advantage-title">
                        <h3>
                          <span style="white-space: nowrap"
                            >Kwa.mboka
                            <video
                              src="/assets/video/home/pricing/1.mp4?2"
                              autoplay
                              playsinline
                              muted
                              loop
                              preload="auto"
                            ></video></span
                          ><br />
                          <mark class="-quinary">Delivers u Services</mark><br />
                          Sort Payments<br />
                          Smile with Neatness!
                        </h3>
                      </div>
                    </div>
                    <div class="pt-advantage-grid-col -right">
                      <div
                        class="pt-advantage-figure -v3"
                        data-cursor="-opaque"
                      >
                        <div class="pt-advantage-figure-box">
                          <div class="pt-advantage-figure-scene">
                            <div class="pt-chevronbox"><canvas></canvas></div>
                          </div>
                          <div class="pt-advantage-figure-screen">
                            <img id="mboto"
                        
                              src="{%static '/assets/img/3c9746110385ef91941557fe2c229cbc.jpg' %}"
                              loading="lazy"
                              alt="Potion step 3 screen"
                            />
                            <div class="pt-advantage-figure-video">
                              <video
                                src="/assets/video/home/advantage/3.mp4?5"
                                autoplay
                                muted
                                playsinline
                                loop
                              ></video>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-definition">
          <div class="pt-definition-fill"></div>
          <div class="pt-definition-content">
            <div class="pt-definition-body">
              <div class="pt-definition-container -fixed -lg">
                <div class="pt-definition-grid">
                  <div class="pt-definition-col -left">
                    <div class="pt-definition-text">
                      <p>
                        NO GRIND . NO GRIT NO GREATNESS
                        <span style="white-space: nowrap"
                          ><mark class="-hidden">Join kwa.mboka for jobs</mark></span
                        >
                        get gigs and life tips to make money.
                      </p>
                    </div>
                    <div class="pt-definition-action">
                      <a
                        class="pt-btn pt-btn_cta pt-btn_bdemo -lg -primary"
                        href="/demo/"
                        ><span class="pt-btn_cta-fill"
                          ><span class="pt-btn_cta-ripple -v1"></span
                          ><span class="pt-btn_cta-ripple -v2"></span></span
                        ><span class="pt-btn_cta-title"
                          ><em
                            ><span data-text="Book a demo"
                              >Try Me !</span
                            ></em
                          ><svg class="pt-svgsprite -arrow-right-o">
                            <use
                              xlink:href="/assets/img/sprites/svgsprites.svg#arrow-right-o"
                            ></use></svg></span
                      ></a>
                    </div>
                    <div class="pt-definition-notice"></div>
                  </div>
                  <div class="pt-definition-col -right">
                    <div class="pt-definition-figure">
                      <video autoplay playsinline muted loop>
                        <source
                          src="/assets/video/home/definition/1.webm?5"
                          type="video/webm"
                        />
                        <source
                          src="/assets/video/home/definition/1.mp4?5"
                          type="video/mp4"
                        />
                      </video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-feature" id="section-why">
          <div class="pt-feature-content -ct">
            <div class="pt-feature-roll">
              <div class="pt-feature-sections">
                <div class="pt-feature-section -sm">
                  <div class="pt-feature-container -sl">
                    <div class="pt-feature-spacer"></div>
                    <div class="pt-feature-info">
                      <div class="pt-feature-title -lg">
                        <h2>
                          Why use<br />
                          Kwa.mboka ?
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-feature-section -tertiary">
                  <div class="pt-feature-container -lg">
                    <div class="pt-feature-figure">
                      <video
                        src="/assets/video/home/feature/1.mp4?3"
                        autoplay
                        loop
                        muted
                        playsinline
                      ></video>
                    </div>
                    <div class="pt-feature-info">
                      <div class="pt-feature-title">
                        <h2>
                          <br />Save you self
                          from heavy home tasks after <br />
                          a long day of work
                        </h2>
                      </div>
                      <div class="pt-feature-text">
                        <p>
                          Make good cash Usilale Njaa<br />
                          from friendly tasks you like...
                          by joining the Mboka Team.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-feature-section" style="background: #f0dcff">
                  <div class="pt-feature-container -lg">
                    <div class="pt-feature-figure">
                      <video
                        src="/assets/video/home/feature/2.mp4"
                        autoplay
                        loop
                        muted
                        playsinline
                      ></video>
                    </div>
                    <div class="pt-feature-info">
                      <div class="pt-feature-title">
                        <h2>
                          LETS Clean your work place<br />
                          Having doughnuts on how to manage all the offices tasks ?<br />
                          lets sight and sign some contract.
                        </h2>
                      </div>
                      <div class="pt-feature-text">
                        <p>
                          Having a rough time with dusty kitchen,unwashed cloths,dirty seats and bedding's,<br />
                          need to plant some flowers and don't know how? Call Kwa.mboka
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pt-feature-section" style="background: #f5f4ee">
                  <div class="pt-feature-container -lg">
                    <div class="pt-feature-figure">
                      <video
                        src="/assets/video/home/feature/3.mp4?2"
                        autoplay
                        loop
                        muted
                        playsinline
                      ></video>
                    </div>
                    <div class="pt-feature-info">
                      <div class="pt-feature-title">
                        <h2>
                          Home repairs?<br />
                          Painting and some construction? <br />
                          Need House renovations,plumbing,broken window-glass?
                        </h2>
                      </div>
                      <div class="pt-feature-text">
                        <p>
                          Effectively engage with<br />
                          qualified prospects in neatness and home jobs.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-explore">
          <div class="pt-explore-fill"></div>
          <div class="pt-explore-content">
            <div class="pt-explore-container -fixed -xl">
              <div class="pt-explore-header">
                <h2>
                  Join Kwa.mboka to <mark class="-quaternary"> get linked</mark><br />
                  <mark class="-quaternary">with outside Country(Kenya) well paying Jobs</mark> we are talking<br />
                  Canada,Dubai,Qatar,Saudi Arabia,USA,France,United Kingdom etc...
                </h2>
              </div>
              <div class="pt-explore-figure">
                <video
                  src="/assets/video/home/explore/1.mp4?5"
                  autoplay
                  playsinline
                  muted
                  loop
                  preload="auto"
                ></video>
              </div>
              <div class="pt-explore-details">
                <div class="pt-explore-detail">
                  <div class="pt-explore-title">
                    <h3>AI generated screen recordings</h3>
                  </div>
                  <div class="pt-explore-text">
                    <p>
                      Auto-generate screen recordings with personalized
                      backgrounds
                    </p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title">
                    <h3>AI generated facecam videos</h3>
                  </div>
                  <div class="pt-explore-text">
                    <p>
                      Turn your facecam video into thousands of personalized
                      videos
                    </p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title">
                    <h3>Customize branding on video pages</h3>
                  </div>
                  <div class="pt-explore-text">
                    <p>
                      Customize video landing pages with your own branding &
                      domain
                    </p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title"><h3>Calendar embeds</h3></div>
                  <div class="pt-explore-text">
                    <p>Embed calendar widgets right on your video page</p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title"><h3>Custom themes</h3></div>
                  <div class="pt-explore-text">
                    <p>Add stickers, emojis, gifs and images on video pages</p>
                  </div>
                </div>
                <div class="pt-explore-detail">
                  <div class="pt-explore-title"><h3>Secure and safe</h3></div>
                  <div class="pt-explore-text">
                    <p>Potion AI platform is SOC2 Type I compliant</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-partner">
          <div class="pt-partner-content -cb">
            <div class="pt-partner-container">
              <div class="pt-partner-header -xs">
                <h2>
                  Integrates with 50+ sales
                  <span style="white-space: nowrap">and marketing</span> tools
                </h2>
              </div>
            </div>
            <div class="pt-partner-bundle">
              <div class="pt-partner-logos">
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/outreach.png"
                    srcset="/assets/img/partner/outreach@2x.png 2x"
                    loading="lazy"
                    alt="Outreach"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/hubspot.png"
                    srcset="/assets/img/partner/hubspot@2x.png 2x"
                    loading="lazy"
                    alt="Hubspot"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/apollo.png"
                    srcset="/assets/img/partner/apollo@2x.png 2x"
                    loading="lazy"
                    alt="Apollo"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/salesloft.png"
                    srcset="/assets/img/partner/salesloft@2x.png 2x"
                    loading="lazy"
                    alt="Salesloft"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/instantly.png"
                    srcset="/assets/img/partner/instantly@2x.png 2x"
                    loading="lazy"
                    alt="Instantly"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/lemlist.png"
                    srcset="/assets/img/partner/lemlist@2x.png 2x"
                    loading="lazy"
                    alt="Lemlist"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                    src="/assets/img/partner/gohighlevel.png"
                    srcset="/assets/img/partner/gohighlevel@2x.png 2x"
                    loading="lazy"
                    alt="GoHighLevel"
                  />
                </div>
                <div class="pt-partner-logo">
                  <img
                     src="{%static '/assets/img/partner/close.png' %}"
                    srcset="/assets/img/partner/close@2x.png 2x"
                    loading="lazy"
                    alt="Close.io"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-pricing" id="section-pricing">
          <div class="pt-pricing-content">
            <div class="pt-pricing-container -fixed -xl">
              <div class="pt-pricing-hgrid">
                <div class="pt-pricing-hgrid-col -left">
                  <div class="pt-pricing-header -lg">
                    <h2>
                      Choose<br />
                      a plan
                    </h2>
                  </div>
                </div>
                <div class="pt-pricing-hgrid-col -right">
                  <div class="pt-pricing-char">
                    <video
                       src="{%static '/assets/video/outro/1.mp4?5' %}"
                      autoplay
                      playsinline
                      muted
                      loop
                      preload="auto"
                    ></video>
                  </div>
                  <div class="pt-pricing-header -xs"></div>
                </div>
              </div>
              <div class="pt-pricing-items">
                <div class="pt-pricing-item">
                  <div class="pt-pricing-box -septenary">
                    <div class="pt-pricing-plan">Basic</div>
                    <div class="pt-pricing-price"><span>$0</span></div>
                    <div class="pt-pricing-brief">
                      Free forever. No Dynamic AI-generated videos.
                    </div>
                    <div class="pt-pricing-action">
                      <a
                        class="pt-btn pt-btn_cta -full -bordered"
                        href="https://app.sendpotion.com/"
                        target="_blank"
                        rel="noopener"
                        ><span class="pt-btn_cta-fill"></span
                        ><span class="pt-btn_cta-title"
                          ><em
                            ><span data-text="Sign up for free"
                              >Sign up for free</span
                            ></em
                          ></span
                        ></a
                      >
                    </div>
                  </div>
                  <div class="pt-pricing-list">
                    <ul>
                      <li><span>Unlimited facecam videos</span></li>
                      <li><span>Unlimited screen & face recordings</span></li>
                      <li><span>Video page custom branding</span></li>
                      <li><span>Video library</span></li>
                      <li><span>Video teleprompter</span></li>
                      <li><span>Add calendar widget on video pages</span></li>
                    </ul>
                  </div>
                </div>
                <div class="pt-pricing-item">
                  <div class="pt-pricing-box -senary">
                    <div class="pt-pricing-plan">Growth</div>
                    <div class="pt-pricing-price">
                      <span>$247</span
                      ><sup
                        >per month<br />
                        per seat</sup
                      >
                    </div>
                    <div class="pt-pricing-brief">
                      30-day moneyback guarantee. Annual contract.
                    </div>
                    <div class="pt-pricing-action">
                      <a
                        class="pt-btn pt-btn_cta pt-btn_bdemo -full -primary"
                        href="https://app.sendpotion.com/"
                        target="_blank"
                        rel="noopener"
                        ><span class="pt-btn_cta-fill"
                          ><span class="pt-btn_cta-ripple -v1"></span
                          ><span class="pt-btn_cta-ripple -v2"></span></span
                        ><span class="pt-btn_cta-title"
                          ><em
                            ><span data-text="Sign up for free"
                              >Sign up & upgrade</span
                            ></em
                          ></span
                        ></a
                      >
                    </div>
                  </div>
                  <div class="pt-pricing-list">
                    <ul>
                      <li><span>All Basic plan features</span></li>
                      <li>
                        <span>2000 Dynamic Video generations per month</span>
                      </li>
                      <li><span>Custom video page domain</span></li>
                      <li><span>Auto-generated subtitles</span></li>
                      <li><span>Perfect for startups & agencies</span></li>
                    </ul>
                  </div>
                </div>
                <div class="pt-pricing-item">
                  <div class="pt-pricing-box -septenary">
                    <div class="pt-pricing-plan">Enterprise</div>
                    <div class="pt-pricing-price">
                      <span>Ksh.16,999</span
                      ><sup
                        >per month<br />
                        per seat</sup
                      >
                    </div>
                    <div class="pt-pricing-brief">
                      Dedicated training staff. Built for Pro teams of
                      rockstars.
                    </div>
                    <div class="pt-pricing-action">
                      <a class="pt-btn pt-btn_cta -full -bordered" href="/demo/"
                        ><span class="pt-btn_cta-fill"></span
                        ><span class="pt-btn_cta-title"
                          ><em
                            ><span data-text="Book a demo"
                              >Book a demo</span
                            ></em
                          ></span
                        ></a
                      >
                    </div>
                  </div>
                  <div class="pt-pricing-list">
                    <ul>
                      <li><span>All Basic and Growth plan features</span></li>
                      <li>
                        <span>10000 Dynamic Video generations per month</span>
                      </li>
                      <li>
                        <span>Video outreach training for your team</span>
                      </li>
                      <li><span>White glove onboarding</span></li>
                      <li><span>Highest priority support</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="pt-outro">
          <div class="pt-outro-fill"></div>
          <div class="pt-outro-content">
            <div class="pt-outro-container -fixed -lg">
              <div class="pt-outro-header -xl">
                <h2>
                  Usitoke kazi ukuje Home kufanya kazi😂😒. Kwa.mboka👌 we got you bro!.Chat na sisi tu..<span style="white-space: nowrap"
                    ><video
                      src="{%static '/assets/video/outro/1.mp4?5' %}"
                      autoplay
                      playsinline
                      muted
                      loop
                    ></video>
                    Toa ngua tunakuja💦</span
                  >
                </h2>
              </div>
              <div class="pt-outro-action">
                <a
                  class="pt-btn pt-btn_cta pt-btn_bdemo -xl -primary"
                  href="/demo/"
                  ><span class="pt-btn_cta-fill"
                    ><span class="pt-btn_cta-ripple -v1"></span
                    ><span class="pt-btn_cta-ripple -v2"></span></span
                  ><span class="pt-btn_cta-title"
                    ><em><span data-text="Book a demo">Call Us</span></em
                    ><svg class="pt-svgsprite -arrow-right-o">
                      <use
                        xlink:href="/assets/img/sprites/svgsprites.svg#arrow-right-o"
                      ></use></svg></span
                ></a>
              </div>
            </div>
          </div>
        </section>
        <footer class="pt-footer">
          <div class="pt-footer-fill"></div>
          <div class="pt-footer-main">
            <div class="pt-footer-content">
              <div class="pt-footer-container -fixed -lg">
                <div class="pt-footer-grid">
                  <div class="pt-footer-col -left">
                    <div class="pt-footer-logo">
                      <img
                        src="{%static '/assets/img/Screenshot_2023-06-17-16-19-26-720.jpg' %}"
                        loading="lazy"
                        alt="Potion logo"
                      />
                    </div>
                    <div class="pt-footer-text">
                      <p>Cleaning is our superpower | Join For Jobs And If you want Cleaning. </p>
                    </div>
                  </div>
                  <div class="pt-footer-col -right">
                    <div class="pt-footer-navs">
                      <a
                        class="pt-footer-nav"
                        href="https://chrome.google.com/webstore/detail/potion-video-emails-to-do/fikcpjkdkmmbmpahfkiodjnhnngfkghf"
                        target="_blank"
                        rel="noopener"
                        ><span>Mboka Academy</span></a
                      ><a
                        class="pt-footer-nav"
                        href="https://help.sendpotion.com"
                        target="_blank"
                        rel="noopener"
                        ><span>Tutorials</span></a
                      ><a class="pt-footer-nav" href="/faq/"
                        ><span>FAQs</span></a
                      ><a class="pt-footer-nav" href="/#pricing"
                        ><span>Pricing</span></a
                      ><a class="pt-footer-nav" href="/demo/"
                        ><span>Book a demo</span></a
                      ><a
                        class="pt-footer-nav"
                        href="https://blog.sendpotion.com"
                        target="_blank"
                        rel="noopener"
                        ><span>Blog</span></a
                      ><a
                        class="pt-footer-nav"
                        href="https://meaw.canny.io/potion"
                        target="_blank"
                        rel="noopener"
                        ><span>Roadmap</span></a
                      ><a
                        class="pt-footer-nav"
                        href="https://app.getreditus.com/affiliate/sign_up/potion?invite_key=06ff6526-aeed-4113-b38a-16258cdab1b5"
                        target="_blank"
                        rel="noopener"
                        ><span>Affiliate program</span></a
                      ><a
                        class="pt-footer-nav"
                        href="https://blog.sendpotion.com/company1-closes-600k-worth-of-contracts-in-one-week-by-adding-1200-ai-generated-potion-videos-in-sales-outreach"
                        target="_blank"
                        rel="noopener"
                        ><span></span></a
                      ><a
                        class="pt-footer-nav"
                        href="https://blog.sendpotion.com/growpronto-closes-200k-worth-of-contracts-in-one-week-by-adding-1200-ai-generated-potion-videos-in-sales-outreach"
                        target="_blank"
                        rel="noopener"
                        ><span>Case study - GrowKwa.mboka</span></a
                      >
                    </div>
                  </div>
                </div>
                <div class="pt-footer-links">
                  <a class="pt-footer-link -smooth" href="/privacy/"
                    ><span>Privacy Policy</span></a
                  ><a class="pt-footer-link -smooth" href="/terms/"
                    ><span>Terms</span></a
                  ><a class="pt-footer-link" href="admin.kwa.mboka"
                    ><span>admin@kwa.mboka</span></a
                  >
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="{% static '/assets/js/bundle.js?v=0.2.19' %}" defer></script>
    <noscript
      ><link rel="stylesheet" href="/assets/css/noscript.css?v=0.2.19"
    /></noscript>
    <script>
      if (typeof Promise !== "function") {
        var s = document.createElement("link");
        (s.rel = "stylesheet"),
          (s.href = "/assets/css/noscript.css"),
          document.body.appendChild(s);
      }
    </script>
    <script type="text/javascript">
      (function (d, u, h, s) {
        h = d.getElementsByTagName("head")[0];
        s = d.createElement("script");
        s.async = 1;
        s.src = u + new Date().getTime();
        h.appendChild(s);
      })(
        document,
        "https://grow.clearbitjs.com/api/pixel.js?k=pk_cf22ed2c38e64b1fc8f93c09a5106ab5&v="
      );
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script
      async=""
      src="https://www.googletagmanager.com/gtag/js?id=UA-160773905-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-160773905-2");
    </script>
    <script>
      (function (w, d, s, p, t) {
        w.gr =
          w.gr ||
          function () {
            w.gr.q = w.gr.q || [];
            w.gr.q.push(arguments);
          };
        p = d.getElementsByTagName(s)[0];
        t = d.createElement(s);
        t.async = true;
        t.src = "https://app.getreditus.com/gr.js?_ce=90";
        p.parentNode.insertBefore(t, p);
      })(window, document, "script");
      gr("track", "pageview");
    </script>
    <script type="text/javascript">
      var buttonClass = "pt-btn_bdemo";
      // DO NOT CHANGE THE CODE BELOW
      function trackingListener() {
        var capterra_vkey = "bdcff02f5ffb35ee117cddf4004d79a1",
          capterra_vid = "2193470",
          ct = document.createElement("img");
        ct.src =
          "https://ct.capterra.com/capterra_tracker.gif?vid=" +
          capterra_vid +
          "&vkey=" +
          capterra_vkey;
        document.body.appendChild(ct);
      }
      var buttons = document.querySelectorAll("." + buttonClass);
      buttons.forEach((button) => {
        button.addEventListener("click", trackingListener);
      });
    </script>
    <img
      src="https://ct.capterra.com/capterra_tracker.gif?vid=2193470&amp;vkey=bdcff02f5ffb35ee117cddf4004d79a1"
    />
  </body>
</html>
