<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="" />
    <meta name="publisher" content="" />
    <meta name="copyright" content="" />
    <meta name="creation_Date" content="15/06/2023" />
    <meta name="expires" content="" />
    <link rel="icon" href="Mboka-Logo" type="image/icon">
    <title>Pre-Cart</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P72MKEN7S2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());



gtag('config', 'G-P72MKEN7S2');
</script>


<!--StyleSheet-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="css/style.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!--Javascript-->
<script src="js/google.api.js" type="text/Javascript"></script>
</head>

<body>
<!-- Header Area Start -->
<header class="header-area scrollheader">
  <div class="classy-nav-container breakpoint-off">
    <div class="container">
      <!-- Classy Menu -->
      <nav class="classy-navbar justify-content-between" id="roamingnav">

        <!-- Logo -->
        <a class="nav-brand mainlogo" href="http://www.safaricom.co.ke/mpesaglobalpay">
            <img src="images/safaricom-logo.svg" class="web-logo" alt="">
          <img src="images/mpesa-logo.png" class="mobile-logo" alt=""></a>

        <!-- Navbar Toggler -->
        <div class="classy-navbar-toggler"> <span class="navbarToggler"><span></span><span></span><span></span></span> </div>

        <!-- Menu -->
        <div class="classy-menu">
          <!-- <a class="nav-brand nav-brand-mobile" href="index.html"><img src="images/mpesa-logo.svg" class="mobile-logo" alt=""></a> -->
          <!-- Menu Close Button -->
          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>
          <!-- Nav Start -->
          <div class="classynav">
              <ul id="nav0">
                  <li ><a href="#Home">Home</a></li>
                  <li><a href="Setting.html">Settings</a></li>
	      	  <li class="active">
                  <a href="KwaMboka-Profile.html">Profile</a></li>
<li><a href="/Cart.html">Cart </a></li>
              </ul>
          </div>
          <!-- Nav End -->
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- Header Area End -->
<section   class="main-banner pt-5 pb-5 text-white">
<div class="container">
    <div class="row align-items-center h-100">
        <div class="col-12 col-sm-7 col-md-5 banner-content productbanner">
            <h1> Work Until It Pains&nbsp;<span style="font-weight: bolder; text-align: var(--x-body-text-align);">
                <br> because Poverty Pains More.</span>
                <span style="color: rgb(0, 0, 0); font-weight: bolder; text-align: var(--x-body-text-align);">
                    &nbsp;</span></h1>
            <p  class="text-muted">
                "Your work is going to fill a large part of your life,and the only way to be truly satisfied is to do <br/>
                what you believe is great work.And the only way to do great work is to love what you do."</p>
        </div>
    </div>
</div>
</section>
<section class="most-popular pt-5 pb-5">
     <div class="container">
         <div class="row">
                         <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src="/mpesaglobalpay/storage/FB_IMG_1687006692279.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Laundry</span>
                            <div class="title"><h2>Cloths Washing</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

                    <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src=" /mpesaglobalpay/storage/FB_IMG_1686940296370.jpg "  alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House Outdoors</span>
                            <div class="title">
                                <h2>Pavements</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                    <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src=" /mpesaglobalpay/storage/FB_IMG_1686940987237.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Home chores</span>
                            <div class="title">
                                <h2>Surfaces Cleaning</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                    <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src=" /mpesaglobalpay/storage/FB_IMG_1686940443476.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Laundry</span>
                            <div class="title">
                                <h2>Towels Cleaning</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                    <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src=" /mpesaglobalpay/storage/FB_IMG_1686940688742.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Business Offices</span>
                            <div class="title">
                                <h2>Business Services</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                    <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src=" /mpesaglobalpay/storage/Screenshot_2023-06-17-16-13-20-189.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Business Offices</span>
                            <div class="title">
                                <h2>Office Cleaning</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

                    <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src=" /mpesaglobalpay/storage/FB_IMG_1686941320800.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Kitchen</span>
                            <div class="title">
                                <h2>Kitchen Components </h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

             <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src=" /mpesaglobalpay/storage/FB_IMG_1687008498779.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Laundry</span>
                            <div class="title">
                                <h2>Ironing Cloths</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src="/mpesaglobalpay/storage/FB_IMG_1687008503584.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Laundry</span>
                            <div class="title"><h2>Sorting Cloths out</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src="/mpesaglobalpay/storage/FB_IMG_1687007409361.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House</span>
                            <div class="title"><h2>Sweeping & Mopping</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

             <div  class="col-lg-4 col-md-6 col-sm-12">
                <div  class="card">
                    <div class="image-holder">
                        <img   src="/mpesaglobalpay/storage/FB_IMG_1686940180540.jpg" alt="Cloths Washing" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House</span>
                            <div class="title"><h2>Wash Rooms & Bath Room</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940759326.jpg" alt="Men&#039;s Kimono" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House</span>
                            <div class="title"><h2>Net&#039;s BedSheets Blankets</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940289124.jpg" alt="NYC Snow Globe" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House</span>
                            <div class="title"><h2>Windows,Doors,Wall Cleaning</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940404763.jpg" alt="Edelweiss Feathered Hat" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Kitchen</span>
                            <div class="title"><h2>Utensils Washing</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686941300739.jpg" alt="Hip Flask Set" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Kitchen</span>
                            <div class="title"><h2>Kitchen Cleaning & Arranging</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940193108.jpg" alt="Manhattan Number Plate" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Kitchen</span>
                            <div class="title"><h2>Cooking meals</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686941300739.jpg" alt="Statue of Liberty" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Occasions</span>
                            <div class="title"><h2>Help Plan for Visitors</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686943168669.jpg" alt="EK Running water bottle" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Occasions</span>
                            <div class="title"><h2>House Parties & ceremonies</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686941802463.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Farm</span>
                            <div class="title"><h2>Planting and crops involved</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                       <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/Screenshot_2023-06-17-16-19-26-720.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Compound Outdoor</span>
                            <div class="title"><h2>Sweeping and Cleaning </h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686941234319.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Compound Outdoor</span>
                            <div class="title"><h2>Grass Slashing&Planting</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/BTCPay Server Store/assets/Male-Workers/600_400_Digital-Farmer-1.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Home Gardening</span>
                            <div class="title"><h2>Flowers Planting & Weeding</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940324961.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House Renovations</span>
                            <div class="title"><h2>Floor and Pavements</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940304677.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House Renovations</span>
                            <div class="title"><h2>Wall Plaster</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1687007403459.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">House Renovations</span>
                            <div class="title"><h2>Painting</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686996846643.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Repairs</span>
                            <div class="title"><h2>Glass Involved,window broken</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686996894861.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Repairs</span>
                            <div class="title"><h2>Welding involved,door,windows,chair etc.</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940324961.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Repairs</span>
                            <div class="title"><h2>Furniture</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>             <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686996748695.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Repairs</span>
                            <div class="title"><h2>Plumbing & Water taps</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940280000.jpg" alt="EK Kenya Running Jacket" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Repairs</span>
                            <div class="title"><h2>Electronics & Stima</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1686940924762.jpg" alt="Eliud Kipchoge Shoes Vaperfly" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Chores</span>
                            <div class="title"><h2>Home Care </h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/mpesaglobalpay/storage/FB_IMG_1687007763260~2.jpg" alt="Eliud Kipchoge Shoes Alpha Fly" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Pets Care</span>
                            <div class="title"><h2>Cleaning your bff.</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>

                          <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card">
                    <div class="image-holder">
                        <img src="/BTCPay Server Store/assets/Male-Workers/600_400_Digital-Farmer-1.jpg" alt="Digital-Farmer" />
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-12">
                            <span class="product_catergory">Farm Works</span>
                            <div class="title"><h2>Harvesting,Planting</h2></div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
                      </div>
     </div>
 </section>

<section class="section-newsletter">
<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-5 col-md-6 col-sm-12">
            <div class="newtextinfo">
            <h2>Sign up for our <span>Mboka Updates</span></h2>
            <p class="text-muted">Stay up to date on available Mboka, and learn more about the latest developments, deals,gigs and offers.</p>
        </div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12">
            <div class="subscribeblock">
            <div class="subscribe-text mb-15">
                <h2>Be the <span>first</span> to know new posted gigs</h2>
            </div>
            <div class="subscribe-wrapper subscribe2-wrapper mb-15">
                <div class="subscribe-form">
                                             <input id="email_address_newsletter" name="email_address_newsletter" class="form-control" placeholder="Enter your Email address*" type="email">
                        <button onclick="saveNewsletter()" class="btn btn-primary btn-lg">SIGN UP</button>

                         <div id="newsletter_loading_div"></div>

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</section>

 <footer class="pt-5 pb-5" style="background-image: url('/mpesaglobalpay/images/600_400_Digital-Farmer-1.jpg');">

    
<div class="container">
         <div class="row">
             <div class="col-12 col-md-4 text-white footer-text">
                 <h2><span>Do What You Like.<br/>
                     Make Money.Nice Pay</span>&nbsp; Today with KwaMboka</h2>
                 <button class="btn btn-green" data-bs-toggle="modal" >Get Your Mboka-ID</button></div>
             <div class="col-12 footer-last">
                 <div class="row">
                    <div class="col-12 col-md-6 social-icons">
                        <ul>
                            <li class="title">Follow us on:</li>
                            <li><a target="_blank" href="/assets/img/logo/facebook.png">
                                <i class="fab fa-facebook"></i>
                                </a></li>
                            <li><a target="_blank" href="https://twitter.com/safaricom_care?lang=en">
                                <i class="fab fa-twitter"></i>
                            </a></li>
                            <li><a target="_blank" href="https://www.youtube.com/user/SafaricomOfficial">
                                <i class="fab fa-youtube"></i>
                            </a></li>
                            <li><a target="_blank" href="https://www.instagram.com/safaricomplc_/?hl=en">
                                <i class="fab fa-instagram"></i>
                            </a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6 text-end footer-urls">
                        <ul>
                            <li><a href="#Home">
                                Home</a></li>
                            <li><a href="#about">
                                About</a></li>
<li>
    <a href="Mboka-Academy.html">
        Mboka Academy</a></li></ul>
                    </div>
                </div>
             </div>
         </div>
     </div>

 </footer>

 <!-- Modal -->
 <!-- Modal -->
  <!-- Modal -->
  <div class="modal fade app-store-holder"
       id="appstore" tabindex="-1"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close">

          </button>
        </div>
        <div class="modal-body">
            <div class="text-black">
                <h2>Get You<span>Mboka-ID</span></h2>
                <a target="_blank"
                   href="https://play.google.com/store/apps/details?id=com.safaricom.mpesa.lifestyle&hl=en&gl=US"
                   class="app-store">
                    <img src="./images/icons/google-play.png" alt="App Store" >
                </a>
                <a target="_blank" href="https://apps.apple.com/ke/app/m-pesa/id1496784664
" class="app-store">
                    <img src="./images/icons/app-store.png" alt="App Store" >
                </a>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- jQuery -->
<script src="js/jquery.min.js" type="text/Javascript"></script>
<script src="js/main.js" type="text/Javascript"></script>

<script type="text/javascript">


    var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;


    function saveNewsletter() {


        var email_address_newsletter = $("#email_address_newsletter").val();
        if (email_address_newsletter === "") {
            $("#email_address_newsletter").addClass('error');
            $("#newsletter_loading_div").html("Please enter your email address").addClass('error');
            return false;
        } else if (!reg.test(email_address_newsletter)) {
            $("#email_address_newsletter").addClass('error');
            $("#newsletter_loading_div").html("Please enter a valid email address").addClass('notifications error');
            return false;
        } else {
            $.ajax({
                url: "http://www.safaricom.co.ke/mpesaglobalpay/save_newsletter",
                type: "GET",
                data: {email_address_newsletter: email_address_newsletter},
                beforeSend: function () {
                    $("#newsletter_loading_div").html('<img alt="Loading" src="http://www.safaricom.co.ke/mpesaglobalpay/images/ajax-loader.gif">');
                }
            }).done(function (data) {

                //var data = jQuery.parseJSON(data);
                var status = data.status;
                var message = data.msg;

                if (status == 'true') {

                    $("#newsletter_loading_div").html(message).removeClass().addClass('btn btn-success');
                    $("#email_address_newsletter").val("");

                } else {
                    $("#newslstter_loading_div").html(message).removeClass().addClass('btn btn-danger');
                }

            });
        }


    }
</script>
</body>

</html>
