{% extends "shop/base.html" %}
{% load static %}

{% block content %}

<section class="home-section align-items-center" id="home">
            <div class="container">
               <div class="row align-items-center">


  <main class="  mt-5 pt-4">
    <div class="bty container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div  class=" col-md-6 mb-4">
          <p class="bty" style="font-size:150%;">{{ object.title }}</p>
          <img class="img-fluid" style="width:100%; height:100% ; border-radius:10px; opacity:30%; margin-top:5vh;" src=" {{ user.address.profileimg.url }}"  alt=" {{ user.first_name }}">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

                <img  style="opacity:100%;border-radius:7px; width:150px;height:150px;"  src=" {{ object.image.url }}" ></div>

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
              {% if object.discount_price %}
              <span  class="mr-1">
                <del style="font-size:60%;">Ksh{{ object.price }}</del>
              </span>
              <span>Ksh{{ object.discount_price }}</span>
              {% else %}
              <span>Ksh{{ object.price }}</span>
              {% endif %}
            </p>

            <p class="lead font-weight-bold">You will Love this !</p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>

              <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a>
               <a style="background-color:#E2D784;"  class="bty view-project-btn">Awsome 3D View</a>

          </div>
            <form action="{% url 'stk' %}" method="POST" >
                                                             {% csrf_token %}
                                                             <input type="text" id="phone_number"  hidden  readonly value="0{{user.address.postal_code}}" name="phone_number" placeholder="phone number"
                                                              class="btn form-control" required autofocus    style="font-family:Comic Sans Mn;font-size:24px;text-align:center; margin-top:5px;border-radius:10px;height:7vh; width:100%; "><br>
                                                             <input type="number" id="amount" hidden  readonly value="{{ object.discount_price }}" required name="amount" class=" btn form-control" placeholder="Amount " style="font-family:Comic Sans Mn;font-size:24px;text-align:center; height:7vh;margin-top:20px; margin-bottom:70px;border-radius:10px; width:100%;">
             <button style=" margin-top:20px;width:40vw; " type="submit" class="bty btn-md my-0 p">
              Buy Now 🛒<img style="width:80px;  height:40px;"   src="{% static '/img/mpesa.png'%}">
            </button>
          <!--Content-->
            </form>
        </div>
        <!--Grid column-->


      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional  Product information</h4>

          <p>{{ object.description }}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class=" btn col-lg-4 col-md-12 mb-4">

          <img  src=" {{ object.image01.url }}"  class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class=" btn col-lg-4 col-md-6 mb-4">

          <img  src=" {{ object.image02.url }}"  class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class=" btn col-lg-4 col-md-6 mb-4">

          <img  src="{{ object.image03.url }}"  class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class=" btn col-lg-4 col-md-6 mb-4">

          <img  src=" {{ object.image.url }}"  class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>
  </main>
    </div>

{% endblock content %}
                  </div>

</section>