{% load static %}
  
<script type="text/javascript" src="{% static 'DukaZetu/js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'DukaZetu/js/popper.min.js' %}"></script>
<!-- Bootstrap Duka JavaScript -->
<script type="text/javascript" src="{% static 'DukaZetu/js/bootstrap.min.js' %}"></script>
<!-- MDB Duka JavaScript -->
<script type="text/javascript" src="{% static 'DukaZetu/js/mdb.min.js' %}"></script>
<!-- Initializations -->
<!-- Portfolio Item Details Popup Start -->
      <script src="{% static 'js/script.js' %}"></script>
<script type="text/javascript">

  // Animations initialization
  new WOW().init();

</script>