 {% extends 'core/base.html' %}
{% block head_title %}{{ title }}{% endblock %}

{% block content %}
{%load static%}

<section class="home-section align-items-center" id="home">
            <div class="container">
               <div class="row align-items-center">
                  <div class="home-text">
                     <center> <div style="display:flex;display-direction:row;">
</div>

                     </center>
     <form action=""style="width:100%; border: 2px solid  #f6f4f0;opacity:1px;color:green;margin-top: 40px; padding:10%; border-radius:40px;" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                       <div class="grid grid-cols-2 gap-3 lg:p-6 p-4">
                            <div class="col-span-2">

                                <img  style=" border-radius:100%;margin-bottom:40px;" width="150" height="150" src=" {{user.address.profileimg.url}}" /> <br>
                                 <label >Niaje {{ user.first_name}} , Update Your Data and Profile Picture ,If You Would Love To That is. Zero Pressure</label>
                                <input style="width:98%;" type="file" name="image" value="" class="bty shadow-none bg-gray-100">
                            </div>
                            <div class="col-span-2">
                                <label for="about">Bio</label>
                                <textarea id="about" name="bio" rows="3"  style="width:98%; border-radius:10px;" class="bty shadow-none bg-gray-100">{{ address_form.bio }}</textarea>
                            </div>

                           <div class="col-span-2">
                                <label for="Phone_Number">Phone Number</label>
                                <input style="width:95%;" type="tel" id="Phone_Number" value="{{user_profile.postal_code}}" name="Phone_Number" class="bty shadow-none bg-gray-100">
                            </div>

                             <div class="col-span-2">
                                <label > Town /County</label>
                                <input style="width:95%;" type="text" name="location" value="{{user_profile.location}}"  class=" bty shadow-none bg-gray-100">
                            </div>
                                <div class="col-span-2">
                                <label > Slug</label>
                                <input style="width:95%;" type="text" name="Slug" value="{{user_profile.slug}}" class="btn shadow-none bg-gray-100">
                            </div>

                            <div class="col-span-2">
                                <label > Apartment For Deliveries</label>
                                <input type="text" name="Apartment_address" value="{{user_profile.apartment_address}}" style="width:95%;" class=" btn shadow-none bg-gray-100">
                            </div>
                       </div>
                       <div class="bg-gray-10 p-6 pt-0 flex justify-end space-x-3">
                           <button style=" border-radius:7px;background-color:#000; " class=" bty p-2 px-4 rounded bg-gray-50 text-red-500"> <a style="color:#f6f4f0;" href="/">Cancel</a> </button>
                           <button style=" border-radius:7px; background-color:#008800; color:#001100;" type="submit" class=" bty button bg-blue-700"> Save </button>
                       </div>
                    </form>



                <center>
                        <div style="margin-top:26px;width:80%; border-radius:10px; "  class="btn">
                         <a style=" color:green;" href="/wallet/banks" > Update Bank Accounts</a>

                   </div>


 </center>
                        </div>
               </div>
            </div>
    </section>
     {% endblock %}

